.messages-list {
  display: block;
  margin-top: 20px;
  max-height: 50vh;
  overflow: auto;
  width: 100%;
}

.message-container {
  $triangle-size: 10px;

  display: block;

  &:before {
    content: "";
  }

  .avatar {
    color: $text-color-inverse;
    background: $color-primary-alt-light;
    font-size: 1.5em;
    line-height: $avatar-size;
    text-align: center;
    font-weight: 800;
  }

  .message-body {
    background: $color-gray-light;
    border-radius: $border-radius;
    color: $text-color-inverse;
    margin: 0;
    padding: 1em;
    position: relative;
    width: calc(100% - #{$avatar-size + 20px});

    &:after {
      content: " ";
      display: block;
      border-bottom: $triangle-size solid transparent;
      border-top: $triangle-size solid transparent;
      border-left: $triangle-size solid $color-gray-light;
      position: absolute;
      right: -$triangle-size;
      top: 10px;
      height: 0;
      width: 0;
    }

    &.mine {
      background: $color-primary-alt;

      &:after {
        display: none;
      }

      &:before {
        content: " ";
        display: block;
        border-bottom: $triangle-size solid transparent;
        border-top: $triangle-size solid transparent;
        border-right: $triangle-size solid $color-primary-alt;
        position: absolute;
        left: -$triangle-size;
        top: 10px;
        height: 0;
        width: 0;
      }
    }
  }
}

.social-worker-bio {
  font-size: 1.1em;
  border-bottom: 1px solid $color-gray-light;
  margin: 0;
  padding-bottom: 1em;

  strong {
    display: inline-block;
    margin-top: 1em;
  }

  img {
    margin-right: 1em;
  }
}

.messages-container {
  width: 100%;

  li {
    &:before, &:after {
      display: none;
    }
  }
}

.conversation-details {
  color: $color-black;
  margin-left: 20px;
  width: calc(100% - #{$avatar-size + 20px});

  .date-container {
    margin-right: 10px;
  }
}

.conversation-container {
  border-bottom: 1px solid $color-gray-light;
  padding: 2em 0;
  transition: background 0.2s ease;

  &:hover {
    background: $color-gray-lighter;
  }
}

