footer {
  background: $color-gray-cool-light;
  height: 100px;
  padding-top: 1.5em;

  strong {
    font-size: 19px;
    font-family: "Source Sans Pro";
  }

  .chhs-logo {
    margin-right: 0.5em;
  }

  .options {
    margin-top: 0.6em;
  }
}
