footer {
  background: $color-gray-cool-light;
  min-height: 100px;
  padding: 1.5em 0;

  strong {
    font-size: 19px;
    font-family: "Source Sans Pro";
  }

  .chhs-logo {
    margin: 0 0.5em 0.5em -0.2em;
  }

  .options {
    margin-top: 0.6em;
    float: left;

    @media(min-width: #{850px}) {
      float: right;
    }
  }
}
