<div class="usa-grid">
  <h1>Find Stuff!</h1>

  <form action="#">
    <label>Zipcode:</label>
    <input type="text">
    <button type="submit">Find!</button>
  </form>

  <div id="map"></div>
</div>
