<div class="usa-grid">
  <h1><%= t("find_stuff") %></h1>

  <form action="#">
    <label><%= t("zipcode") %>:</label>
    <input type="text">
    <button type="submit"><%= t("find") %></button>
  </form>

  <div id="map"></div>
</div>
