# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c7c084c2ca83f92d348a065995efc20564cb5fcad947ccbd65741494264a7be3185a15e8e837dc2bff5db510b40322ea4d1821a3e5169a2bc5468cf4c1614f7f
  chhs_api_token: <%= ENV["CHHS_API_TOKEN"] %>
  chhs_api_secret: <%= ENV["CHHS_API_SECRET"] %>

test:
  secret_key_base: 6a6dbaa7528c0f4cd68e74ac414ca7da3d5bb9910a459845220040c833e43618ae8194da36d0d2e74045648af7aa73c3bc1ad514b8d152fc65d62561e8c4b58b
  chhs_api_token: <%= ENV["CHHS_API_TOKEN"] %>
  chhs_api_secret: <%= ENV["CHHS_API_SECRET"] %>

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  chhs_api_token: <%= ENV["CHHS_API_TOKEN"] %>
  chhs_api_secret: <%= ENV["CHHS_API_SECRET"] %>
